<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.conductorbackend.mapper.TaskMapper">
    
    <resultMap id="TaskMap" type="com.chen.conductorbackend.entity.Task">
        <id column="id" property="id"></id>
        <result column="lost_name" property="lostName"></result>
        <result column="lost_gender" property="lostGender"></result>
        <result column="lost_phone" property="lostPhone" ></result>
        <result column="lost_address" property="lostAddress"></result>
        <result column="photo" property="photo"></result>
        <result column="longitude" property="longitude"></result>
        <result column="latitude" property="latitude"></result>
        <result column="detail" property="detail"></result>
        <result column="lost_status" property="lostStatus"></result>
        <result column="rescue_num" property="rescueNum"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="lost_birth" property="lostBirth"></result>
    </resultMap>

    <select id="listTasksByUidAndStatus" resultMap="TaskMap">
      select task.id, lost_name, lost_gender, lost_phone, lost_address, photo, longitude, latitude,
      detail, lost_status, task.gmt_create, task.gmt_modified, lost_birth, rescue_num
      <if test="uid == null and status != null">
          from task
          where lost_status = #{status}
      </if>
      <if test="uid != null and status == null">
          from task, user_task
          where task.id = user_task.rid and uid = #{uid}
      </if>
      <if test="uid != null and status != null">
          from task, user_task
          where task.id = user_task.rid and uid = #{uid} and lost_status = #{status}
      </if>
      <if test="uid == null and status == null">
          from task
      </if>
      order by gmt_create desc
    </select>

    <select id="listTasksByUid" resultMap="TaskMap">
        select task.id, lost_name, lost_gender, lost_phone, lost_address, photo, longitude, latitude,
        detail, lost_status, task.gmt_create, task.gmt_modified, lost_birth, rescue_num
        from task, user_task
        where task.id = user_task.rid and user_task.uid = #{uid}
        order by gmt_create desc
    </select>
</mapper>
